@CHARSET "UTF-8";

#mychart {
    width: 600px;
    height: 400px;
}

#idschart {
    width: 600px;
    height: 400px;
}

#centroidchart {
    width: 600px;
    height: 400px;
}
#New {
    width: 600px;
    height: 400px;
}
#NewNew {
    width: 600px;
    height: 400px;
}
#Old {
    width: 600px;
    height: 400px;
}

.show{
	 width: 600px;
    height: 400px;
}

.hide{
	position:absolute;
	top:0;
	left:-9999px;
	height:0;
	overflow:hidden;
}